{% extends "shop/index.html" %}
{% block title %}
webpage
{% endblock title %}
{% block content %}
<selection class="py-5 text-center container"   style="margin-top:50px;" >
   <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="fw-light">Bestseller</p>
        <hr class="lead text-muter">
        <p>our most popular products based sales</p>
        <p>
       <a class="btn btn-primary my-2" href="#" role="button">Already user</a>
       <a class="btn btn-secondary my-2" href="#" role="button">Register</a>
      </p>
     </div>
   </div>
</selection>


 <!- {{ category }}-->
{% endblock content %}
{% include "shop/Include_Files/navigation.html" %}
